
.editor-container {
  display: flex;

  height: 100vh;  
}

.editor-wrapper {
  width: 100%;
  max-width: 100vw; /* Adjust the maximum width as needed */
  background-color: rgb(255, 255, 255);
  border: 1px solid;
}